<!DOCTYPE html>
<html>
<head>
<title>Add Category</title>
<style>
body{
background:linear-gradient(135deg,#4A90E2,#6AB1F7);
font-family:Poppins;
color:white;
}
.form-box{
width:40%;
margin:120px auto;
background:rgba(255,255,255,0.2);
padding:30px;
border-radius:20px;
backdrop-filter:blur(12px);
}
input,button{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:10px;
}
button{
background:#FFD700;
font-weight:bold;
cursor:pointer;
}
</style>
</head>

<body>

<div class="form-box">
<h2>Add Category</h2>
<form method="POST">
{% csrf_token %}
<input type="text" name="name" placeholder="Category Name" required>
<button type="submit">Add Category</button>
</form>
</div>

</body>
</html>
